adminPassword: "admin" # Change this!

persistence:
  enabled: true
  size: 10Gi
  accessModes:
    - ReadWriteOnce

ingress:
  enabled: true
  hosts:
    - grafana.example.com
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
  tls:
    - secretName: grafana-tls
      hosts:
        - grafana.example.com

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: http://prometheus-server.monitoring.svc.cluster.local
        access: proxy
        isDefault: true
      - name: Loki
        type: loki
        url: http://loki-gateway.logging.svc.cluster.local
        access: proxy
