# Kube-Prometheus-Stack Helm Chart Values
# Source: https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack

grafana:
  adminPassword: "admin" # Change this in production!
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - grafana.example.com
    annotations:
      # kubernetes.io/ingress.class: traefik
      # cert-manager.io/cluster-issuer: letsencrypt-prod
    tls: []
    #  - secretName: grafana-tls
    #    hosts:
    #      - grafana.example.com
  persistence:
    enabled: false
    # storageClassName: standard
    # accessModes: ["ReadWriteOnce"]
    # size: 10Gi

prometheus:
  prometheusSpec:
    retention: 7d
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: vks-storage-policy-latebinding
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi

alertmanager:
  enabled: true
  config:
    global:
      resolve_timeout: 5m
    route:
      group_by: ['job']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 12h
      receiver: 'null'
      routes:
      - match:
          alertname: Watchdog
        receiver: 'null'
    receivers:
    - name: 'null'

nodeExporter:
  enabled: true
  serviceMonitor:
    enabled: true

kubeStateMetrics:
  enabled: true

