server:
  retention: "30d"
  persistentVolume:
    enabled: true
    size: 50Gi
    storageClass: standard

  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 1000m
      memory: 2Gi

alertmanager:
  enabled: true
  persistentVolume:
    enabled: true
    size: 2Gi

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true
